.skyscanner-widget-injector-panel {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    z-index: 9999;
    border-style: none
    padding: 0;
    box-sizing: border-box;
    font: 12px sans-serif;
    text-shadow: 0;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
}

.skyscanner-widget-injector-panel .header {
    min-width: 0;
    margin: 0;
    padding: 0;
    height: 20px;
    background-color: #34363d;
    color: white;
}

.skyscanner-widget-injector-panel .header:after {
    content: 'Skyscanner B2B Widget Injector';
    margin: 3px;
    display: inline-block;
}

.skyscanner-widget-injector-panel .header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.skyscanner-widget-injector-panel .header .close:after {
    position: absolute;
    top: -3px;
    right: 4px;
    content: 'x';
    font: 18px monospace;
    color: white;
    text-shadow: 0;
}

.skyscanner-widget-injector-panel .content {
    padding: 5px;
    overflow: hidden;
}

.skyscanner-widget-injector-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.skyscanner-widget-injector-panel ul li {
    padding: 0;
    margin: 0;
    float:right;
    clear: both;
    list-style-type: none;
}

.skyscanner-widget-injector-panel a.button {
    font: 12px sans-serif;
    color: white;
    background-color: #006982;
    text-decoration: none;
    cursor: pointer;
    padding: 3px 10px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
}
.skyscanner-widget-injector-panel a.warning {
    background-color: red;
}

.skyscanner-widget-injector-panel .input-row {
    width: 400px;
    margin: 5px 0 0;
}

.skyscanner-widget-injector-panel .input-row .swip-label  {
    all: initial;
    display: inline-block;
    width: 140px;
    color: black;
    background: none;
    font: 12px sans-serif;
    color: #999;
    text-align: left;
    text-shadow: 0;
}


.skyscanner-widget-injector-panel .input-row input.swip-input {
    all: initial;
    display: inline-block;
    width: 250px;
    font: 12px sans-serif;
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    border: 1px solid #999;
    float: right;
    text-align: right;
}

.skyscanner-widget-injector-code-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding: 10%;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
}

.skyscanner-widget-injector-code-panel .code {
    width: auto;
    height: auto;
    display: block;
    background-color: white;
    color: black;
    padding: 10%;
    font: 16px monospace;
    box-sizing: border-box;
    white-space: pre-line;
}

.skyscanner-widget-injector-panel .sandbox {
    all: initial;
    margin-top: 10px;
    padding: 10px;
    background: white;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #999;
}

.skyscanner-widget-injector-panel .sandbox .skyscanner-widget-container {
    display: inline-block;
    width: 100%;
}