.skyscanner-widget-injector-panel {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    z-index: 9999;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 0 10px 10px;
    box-sizing: border-box;
    font: 12px sans-serif;
}

.skyscanner-widget-injector-panel .header {
    height: 20px;
    background-color: #21c4d9;
    color: white;
}

.skyscanner-widget-injector-panel .header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}

.skyscanner-widget-injector-panel .close:after {
    position: absolute;
    top: -5px;
    right: 2.5px;
    content: 'x';
    font: 18px monospace;
}

.skyscanner-widget-injector-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.skyscanner-widget-injector-panel ul li {
    padding: 0;
    margin: 5px 0;
}

.skyscanner-widget-injector-panel a {
    font: 12px sans-serif;
    color: white;
    background-color: #006982;
    text-decoration: underline;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 4px;
    display: inline-block;
}

.skyscanner-widget-injector-panel .input-row {
    width: 400px;
}
.skyscanner-widget-injector-panel .input-row .label  {
    display: inline-block;
    width: 140px;
}
.skyscanner-widget-injector-pabel .input-row .input  {
    display: inline-block;
    width: 260px;
}

.skyscanner-widget-injector-panel input {
    width: 180px;
    font: 12px sans-serif;
    padding: 4px;
    box-sizing: border-box;
}